@model DataPaginator<InputModelRegister>

@{
    ViewData["Title"] = "Users";
}
<div class="container  p-5">
    <div class="row">
        <div class="form-group">
            <form asp-area="Users" asp-controller="Users" asp-action="Users" method="get">
                <div class="row ">
                    <div class="form-group">
                        <div class="col col-md-12">
                            <input type="text" id="filter" name="filter" placeholder="Search" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col col-md-4">
                            <input type="submit" value="Searc" class="btn bnt-success" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        &nbsp;
        <div class="form-group">
            <div class="row">
                <div class="form-group">
                    <form action="" method="post">
                        
                            
                            <div class="col col-md-4">
                                <input type="submit" value="Search" class=" bnt-success" />
                            </div>
                       
                    </form>
                </div>
                <form asp-area="Users" asp-controller="Users" asp-action="Users" method="get">
                    <div class="row ">
                        <div class="form-group">
                            <div class="col col-md-4">
                                <input type="number" name="number" value="5" min="1" class="form-control" max="50" step="1" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col col-md-4">
                                <input type="submit" value="N Registers" class="btn bnt-success" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row ">
        @foreach (var item in Model.List)
        {
            var image = "data:image/jpg;base64," + Convert.ToBase64String(item.Image, 0, item.Image.Length);
            <div class="col-xs-6 col-md-2">
                <div class="card text-center text-capitalize">
                    <div class="card-header">
                        <a asp-route-id="@item.Id" asp-area="Users" asp-page="/Account/Details">
                            <img class="imageUser" src="@image" />
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <div class="col-md-10">
                            <div class="row">
                                <p>@Html.DisplayFor(ModeItem => item.Name, "  ",item.LastName)</p>
                            </div>
                            <div class="row">
                                <p>Role: </p>
                                &nsub;
                                <p>@Html.DisplayFor(ModeItem => item.Role)</p>
                            </div>
                            <div class="row">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <p class="text-success">Availabe</p>
                                }
                                else
                                {
                                    <p class="text-success">Not Availabe</p>
                                }
                            </div>
                            <div class="row">
                                <a class="btn btn-success" asp-route-id="@item.Id"
                                   asp-area="Users" asp-page="/Account/Details">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="text-dark text-center">
    Results @Html.Raw(Model.Pag_info)
    <br />
    @Html.Raw(Model.Pag_navigation)
</div>